@charset "utf-8";

/* main CSS */

* {
	margin:0;
	padding:0;
	font-family:Arial;
	text-align:center;
}

#ph1 {
	width: 200px;
	margin:auto;
}

#ph2 {
	margin:auto;
	margin-top:10px;
	width: 300px;
}

#ph3 {
	margin:auto;
	margin-top:10px;
}

p {
	text-align: center; 
	padding: 4px 0 0 0;
}

.highlight {
	color:red;
}

/* components added here */



/* timerTemplate CSS Document */

#timerTemplate {
	position: absolute;
	width: @[height]px;
	height: @[width]px;
	margin: 0 0 0 0;
	background: white;
}


p {
	text-align: center; 
	padding: 4px 0 0 0;
}



/* sliderInput CSS Document */

#sliderInput1-slider {
	width: 250px;
}


#sliderInput1-displayNb {
	margin-left: 15px;
}


/* sliderInput CSS Document */

#sliderInput2-slider {
	width: 250px;
}


#sliderInput2-displayNb {
	margin-left: 15px;
}

/* analogClock CSS Document */

#analogClock1-clock {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 7px 0 0 0;
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/clockface.jpg);
	list-style: none;
}

#analogClock1-sec, #analogClock1-min, #analogClock1-hour {
	position: absolute;
	width: 10px;
	height: 200px;
	top: 0px;
	left: 95px;
}

#analogClock1-sec {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/sechand.png);
	z-index: 3;
}

#analogClock1-min {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/minhand.png);
	z-index: 2;
}

#analogClock1-hour {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/hourhand.png);
	z-index: 1;
}

p {
	text-align: center; 
	padding: 4px 0 0 0;
}


/* analogClock CSS Document */

#analogClock2-clock {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 7px 0 0 0;
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/clockface.jpg);
	list-style: none;
}

#analogClock2-sec, #analogClock2-min, #analogClock2-hour {
	position: absolute;
	width: 10px;
	height: 200px;
	top: 0px;
	left: 95px;
}

#analogClock2-sec {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/sechand.png);
	z-index: 3;
}

#analogClock2-min {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/minhand.png);
	z-index: 2;
}

#analogClock2-hour {
	background: url(http://arc.tees.ac.uk/WIDEST/widget/components/clock/analogClock/Styles/analog/hourhand.png);
	z-index: 1;
}

p {
	text-align: center; 
	padding: 4px 0 0 0;
}

